# 점프투파이썬 2장 이어서
## 3절 리스트

In [4]:
print("Hello")

Hello

## 리스트 만들기

In [5]:
# 빈 리스트
a = []
a

[]

In [6]:
b=[1,2,3]
b

[1, 2, 3]

In [10]:
c = ["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [11]:
d=[1,2,"Life","is"]
d

[1, 2, 'Life', 'is']

In [12]:
e=[1,2,["Life", "is"]]
e

[1, 2, ['Life', 'is']]

# 리스트의 인덱싱

In [13]:
[0, 5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [14]:
a=[1,2,3]
a

[1, 2, 3]

In [15]:
a[1]

2

In [16]:
a[-1]

3

In [17]:
e

[1, 2, ['Life', 'is']]

In [18]:
e[2][0]

'Life'

# 리스트의 슬라이싱

In [19]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [21]:
b=a[0:2]
b

[1, 2]

In [22]:
b=a[:2]
b

[1, 2]

# 리스트의 연산자

In [23]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2]

In [26]:
a
b # 이렇게하면 마지막줄 값만 나오기때문에 위에처럼 실행

[1, 2]

In [29]:
c= a+b
c

[1, 2, 3, 4, 5, 1, 2]

In [30]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

# 리스트의 수정, 변경, 삭제

In [31]:
# 하나의 값 수정하기
a = [1,2,3]

In [34]:
a[2]=4
a

[1, 2, 4]

In [35]:
# 연속된 범위의 값 수정하기
a[1:2]

[2]

In [39]:
# 해당위치에 수정
a[1:2]=['a', 'b']
a

[1, 'a', 'b', ['a', 'c'], 4]

In [38]:
# 중첩하여 수정
a[2]=['a','c']
a

[1, 'a', ['a', 'c'], 4]

In [41]:
# 리스트 요소 삭제
a=[1,2,['a','b'],3]
del a[2][1]

In [42]:
a

[1, 2, ['a'], 3]

In [43]:
del a[:1]
a

[2, ['a'], 3]

# 리스트 함수

In [45]:
# 리스트에 요소 추가
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [46]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [48]:
# 리스트 정렬
a=[78,12,34,56]
a.sort()

In [49]:
a

[12, 34, 56, 78]

In [51]:
# 리스트 뒤집기
a=[1,2,3,4,1]
a.reverse()
a

[1, 4, 3, 2, 1]

In [52]:
# 위치 반환
a= [1,2,3]
a.index(3)
# 3의 위치는?

2

In [55]:
# 리스트의 요소 삽입
a=[1,2,3]
a.insert(0, 4) # 0번째에 4를 입력
a

[4, 1, 2, 3]

In [56]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [57]:
# 리스트 요소 제거
a=[1,2,3,1,2,3]
a.remove(3) # 첫번쨰로 나오는()를 지운다
a

[1, 2, 1, 2, 3]

In [58]:
# 리스트 요소 꺼내기

In [59]:
a=[1,2,3]
a.pop()

3

In [60]:
# ()이것만 적으면 마지막꺼 출력
a

[1, 2]

In [62]:
# 요소 개수 세기
a=[1,2,3,1,1]
a.count(1)

3

In [63]:
# 리스트 확장
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [64]:
a.append([5,6])

In [65]:
a

[1, 2, 3, 4, 5, [5, 6]]

## 튜플

In [67]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=('a', 'b', 'c')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b', 'c')

In [68]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [69]:
dic={'name':'강슬기', 'phone':'010-1234-5678'}

In [71]:
print(dic)

{'name': '강슬기', 'phone': '010-1234-5678'}

In [72]:
dic['name']

'강슬기'

In [73]:
dic['phone']

'010-1234-5678'

In [74]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name', 'phone'])

In [75]:
# 값이 뭐뭐 있나?
dic.values()

dict_values(['강슬기', '010-1234-5678'])

### 불(bool) 자료형

In [76]:
# T/F
# True/Fales
3>1

True

In [77]:
1>3

False

In [78]:
if[]:
    print("참")
else:
    print("거짓")

거짓

# 3장 제어문
## 1. if문

In [79]:
money=1 #돈이 있다.
if money: 
    print("택시 타자")
else:
    print("걸어 가야해 ㅠㅠ")

택시 타자

In [80]:
money=0 
if money: 
    print("택시 타자")
else:
    print("걸어 가야해 ㅠㅠ")

걸어 가야해 ㅠㅠ

In [ ]:
# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# Tab 1번 또는 spacebar 4번

In [82]:
money =2000 # 내 돈
if money >= 3000:
    print("택시 타자")
else:
    print("걸어 가자!")

걸아 가자!

In [83]:
money =2000 # 내 돈
card=1
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가자!")

택시 타자

In [85]:
pocket = ['paper', 'phone']
if 'money' in pocket:
    print("택시 타자")
else:
    if 'card' in pocket:
        print("택시 타자")
    else:
        print("걸어 가자")

걸어 가자

In [86]:
# elif를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걷기")

걷기

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장1