# 2018년 3월 28일 점프투파이썬 2장
## 테스트
-숫자형
    1. 기능1
    2. 기능2

-문자형

-리스트

In [1]:
print("3번째 수업")

3번째 수업

a는 위에, b는 밑에 빈칸 만들기, dd는 삭제, m과 y는 마크다운과 코드의 변환
#을 누르고 한 칸 띄우고 shift+enter = 제목생성
목록 만들기는 큰 제목 눌러서 방법 확인하기

## 1절 숫자형

In [7]:
123

123

In [8]:
456

456

In [9]:
1+2

3

In [10]:
1*2

2

In [11]:
-7/4

-1.75

In [12]:
7//4

1

7//4는 몫만 값이 나온다

In [13]:
7%4

3

7%4는 나머지만 값이 나온다

### Lab 1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성 후, revenue와 cost차이 값으로 설정
- profit 출력

In [28]:
revenue=98456
cost=45000
profit=revenue-cost
print(profit)

53456

## 2절 문자열

In [17]:
boy = " I am a boy"
boy

' I am a boy'

In [23]:
girl = "I am a girl"
girl

'I am a girl'

In [14]:
friend = """I am a boy
 I am a girl"""
friend

'I am a boy\n I am a girl'

In [15]:
print(friend)

I am a boy
 I am a girl

In [25]:
boy + girl

' I am a boyI am a girl'

In [27]:
boy + ' '+ girl

' I am a boy I am a girl'

In [24]:
boy+''+girl

' I am a boyI am a girl'

In [24]:
boy * 3

'I am a boyI am a boyI am a boy'

In [41]:
# 문자를 인덱싱
a="Life is too short, You need python"
a[0] + a[10]

'Lo'

In [42]:
# 문자열 슬라이싱
a[12:17]

'short'

In [43]:
a[:]

'Life is too short, You need python'

In [44]:
a[8:]

'too short, You need python'

In [45]:
a[:20]

'Life is too short, Y'

### Lab 2
#### 문자열 다루기
- 변수 a를 생성해서, 문자열 "I love python!"
- 변수 b를 생성해서, 문자열 "You hate python!"

In [30]:
a = "I love python!"
a

'I love python!'

In [31]:
b="You hate python!"
b

'You hate python!'

In [49]:
a="20180328Sunny"
year=a[:4]
month=a[4:6]
day=a[6:8]
weather=a[8:]
year
month

'03'

마지막꺼만 출력

In [48]:
a="20180328Sunny"
year=a[:4]
month=a[4:6]
day=a[6:8]
weather=a[8:]
year
month
print(year, month, day, weather)

2018 03 28 Sunny

In [50]:
print(year,'년', month,'월', day,'일', weather,'입니다.')

2018 년 03 월 28 일 Sunny 입니다.

In [58]:
"{year}년 {month}월 {day}일 날씨는 {weather}입니다." .format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny입니다.'

## 문자열 내장함수

In [67]:
# 문자 개수 세기
a="hobby"
a.count('b')

2

In [66]:
# 위치 알려주기
a="hobby"
a.find('b')

2

In [68]:
# 위치 알려주기2
a. index('b')

2

In [70]:
# 문자열 삽입하기
a=","
a.join("abcd")

'a,b,c,d'

In [76]:
# 대문자로 바꾸기
a=" i love python "
a.upper()

' I LOVE PYTHON '

In [77]:
# 소문자로 바꾸기
a.lower()

' i love python '

In [78]:
# 왼쪽 공백 지우기
a.lstrip()

'i love python '

In [79]:
# 오른쪽 공백 지우기
a. rstrip()

' i love python'

In [80]:
a.strip()

'i love python'

In [82]:
# 문자열 나누기
a. split()

['i', 'love', 'python']

### Lab 2 이어서
- 변수 a를 생성하여 문자열 "I love python!"을 할당하시오
- 변수 b를 생성하여 문자열 "You hate python!"을 할당하시오

In [30]:
a="I love python!"
b="You hate python!"

- a에서 첫번째 o의 위치를 find()함수로 찾아보시오
- b에서 첫번째 o의 위치를 index()함수로 찾아보시오
- a의 'o' 문자 개수를 세시오

In [95]:
a.find('o')

3

In [93]:
b.index('o')

1

In [94]:
a.count('o')

2

- 변수 a를 모두 대문자로 바꿔보시오
- 변수 b를 모두 소문자로 바꿔보시오

In [96]:
a.upper()

'I LOVE PYTHON!'

In [98]:
b.lower()

'you hate python!'

- 변수 a_6에 a의 첫 7문자열 공간들로 이루어진 부분 문자열을 할당하시오.
- 변수 a_6의 문자열을 공백을 이용하여 나눠보시오

In [31]:
a_6=a[:7]
a_6

'I love '

In [32]:
a_6.split()

['I', 'love']

### Lab 3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오
- 변수 sq_root를 생성하고 1.41429를 할당하시오

In [62]:
pi=3.141592
sq_root=1.41429

##### 다음의 출력을 포매팅을 사용하여 만드시오
- pi is 3.141592, and square root of 2 is 1.41429

In [63]:
"pi is {pi}, and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'pi is 3.141592, and square root of 2 is 1.41429'

## 3장 리스트