In [2]:
a=0
while a < 10:
    a=a+1
    if a%2==0: continue
    print(a)

1
3
5
7
9

In [3]:
a=0
while a < 10:
    a=a+1
    if a%2==1: continue
    print(a)

2
4
6
8
10

In [5]:
a=0
while a <= 10:
    a=a+1
    if a%2==1: continue
    print(a)

2
4
6
8
10

In [6]:
test=['one', 'two', 'three']
for i in test:
    print(i)

one
two
three

In [10]:
a=[(1,2),(3,4),(5,6)]
for (a, b) in a:
    print(a + b)

3
7
11

In [11]:
marks = [90, 85, 30, 55, 62]
number=0
for mark in marks:
    number=number+1
    if mark >= 60:
        print('%d번 학생은 합격입니다.' % number)
    else:
        print('%d번 학생은 불합격입니다.' % number)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [13]:
number=0
for mark in marks:
    number=number+1
    if mark < 60: continue
    print('%d번 학생은 합격입니다' % number)

1번 학생은 합격입니다
2번 학생은 합격입니다
5번 학생은 합격입니다

In [11]:
number=0
for mark in marks:
    number=number+1
    if mark < 60: continue
    print('{0}번 학생은 합격입니다' .format(number))

1번 학생은 합격입니다
3번 학생은 합격입니다
5번 학생은 합격입니다

In [10]:
marks=[90,25,67,45,80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print('%d번 학생 축하합니다. 합격입니다.' % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [5]:
a=range(11)

In [6]:
sum=0
for i in a:
    sum=sum+i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55

In [7]:
sum=0
for i in range(1,11):
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [12]:
a='htdhk'

In [15]:
a.index('c')

ValueError: substring not found

In [16]:
a.find('c')

-1

In [20]:
a='0'
a.join('123')

'10203'

In [21]:
a='dsf sgjt tsgk'
a.split()

['dsf', 'sgjt', 'tsgk']

In [22]:
money=5000
if money >= 3000:
    print('택시')
else:
    print('걷기')

택시

In [24]:
pocket=['money', 'phone', 'card']
if 'card' or 'money' in pocket:
    print('택시')
elif 'phone':
    print('통화')
else:
    print('걷기')

택시

In [25]:
regions=[('Northeast', 55.3),('Midwest', 66.9),('South', 114.),('West', 71.9)]

   - The population of the Northeath is 55.3 million.
   - The population of the midwest is 66.9 million.
   - The population of the South is 114.6 million.
   - The population of the West is 71.9 million.
   - The total population of USA is 308.7 million.

In [30]:
print('The population of {0} is {1} million' .format(regions[0][0],regions[0][1]))

The population of Northeast is 55.3 million

In [32]:
print('The population of {region} is {pop} million' .format(region=regions[0][0],pop=regions[0][1]))

The population of Northeast is 55.3 million

- GPA >= 4.3
    - 최우수졸업생
- GPA >= 4.0
    - 우수졸업생
- GPA >= 2.5
    - 졸업생
### 내 학점을 실수로 가지고 있는 변수 my_gpa를 생성하고 임의의 학점을 할당하시오.
### 예를 들어, 만일 my_gpa값이 4.15이면 다음과 같이 출력이 되도록 프로그램을 작성하시오.
    - 당신의 학점은 4.15 입니다.
    - 당신은 우수졸업생입니다.

In [34]:
my_gpa = 4.0
if my_gpa >= 4.3:
    print("당신의 학점은 %d 입니다." % my_gpa)
    print("당신은 최우수졸업생입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {0} 입니다." .format(my_gpa))
    print("당신은 우수졸업생입니다.")
else:
    print("당신은 졸업생입니다.")

당신의 학점은 4.0 입니다.
당신은 우수졸업생입니다.

In [35]:
my_gpa=float(input('학점입력: '))
if my_gpa >= 4.3:
    print("당신의 학점은 %d 입니다." % my_gpa)
    print("당신은 최우수졸업생입니다.")
elif my_gpa >= 4.0:
    print("당신의 학점은 {0} 입니다." .format(my_gpa))
    print("당신은 우수졸업생입니다.")
else:
    print("당신은 졸업생입니다.")

당신은 졸업생입니다.

In [4]:
a=0
while a <10:
    a=a+1
    if a%2==0:continue
    print(a)

1
3
5
7
9

In [2]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [38]:
treehit=0
while treehit < 10:
    treehit=treehit+1
    print('나무를 %d번 찍었습니다.' % treehit)
    if treehit == 10:
        print('나무 넘어갑니다')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [39]:
prompt="""
1. 바보
2. 이바보
3. 에바보
4. 나가기
"""

In [42]:
number=0
while number != 4:
    print(prompt)
    number=int(input('입력: '))

1. 바보
2. 이바보
3. 에바보
4. 나가기


1. 바보
2. 이바보
3. 에바보
4. 나가기

In [1]:
coffee=10
money=300
while money:
    print('돈을 받았습니다')
    coffee=coffee-1
    print('남은 커피는 %d잔 남았습니다.' % coffee)
    if coffee ==0:
        print('커피가 없습니다')
        break

돈을 받았습니다
남은 커피는 9잔 남았습니다.
돈을 받았습니다
남은 커피는 8잔 남았습니다.
돈을 받았습니다
남은 커피는 7잔 남았습니다.
돈을 받았습니다
남은 커피는 6잔 남았습니다.
돈을 받았습니다
남은 커피는 5잔 남았습니다.
돈을 받았습니다
남은 커피는 4잔 남았습니다.
돈을 받았습니다
남은 커피는 3잔 남았습니다.
돈을 받았습니다
남은 커피는 2잔 남았습니다.
돈을 받았습니다
남은 커피는 1잔 남았습니다.
돈을 받았습니다
남은 커피는 0잔 남았습니다.
커피가 없습니다

In [6]:
a=['a','b','c']
for i in a:
    print(i)

a
b
c

In [10]:
number=0
marks=[90,37,40,80]
for mark in marks:
    number=number+1
    if mark >=60:
        print('{0}번 학생의 점수는 {1}입니다.' .format(number,mark))
        print('합격입니다.')
    else:
        print('{0}번 학생의 점수는 {1}점 입니다.' .format(number,mark))
        print('불합격입니다.')

1번 학생의 점수는 90입니다.
합격입니다.
2번 학생의 점수는 37점 입니다.
불합격입니다.
3번 학생의 점수는 40점 입니다.
불합격입니다.
4번 학생의 점수는 80입니다.
합격입니다.

In [11]:
number=0
marks=[90,37,40,80]
for mark in marks:
    number=number+1
    if mark >=60:
        print('{0}번 학생의 점수는 {1}입니다.' .format(number,mark))
        print('합격입니다.')
    else:pass

1번 학생의 점수는 90입니다.
합격입니다.
4번 학생의 점수는 80입니다.
합격입니다.

In [12]:
number=0
marks=[90,37,40,80]
for mark in marks:
    number=number+1
    if mark >=60:
        pass
    else:
        print('{0}번 학생의 점수는 {1}점 입니다.' .format(number,mark))
        print('불합격입니다.')

2번 학생의 점수는 37점 입니다.
불합격입니다.
3번 학생의 점수는 40점 입니다.
불합격입니다.

In [13]:
number=0
marks=[90,37,40,80]
for mark in marks:
    number=number+1
    if mark >=60:
        print('{0}번 학생의 점수는 {1}입니다.' .format(number,mark))
        print('합격입니다.')
    else:continue

1번 학생의 점수는 90입니다.
합격입니다.
4번 학생의 점수는 80입니다.
합격입니다.

In [14]:
number=0
marks=[90,37,40,80]
for mark in marks:
    number=number+1
    if mark >=60:continue
    else:
        print('{0}번 학생의 점수는 {1}점 입니다.' .format(number,mark))
        print('불합격입니다.')

2번 학생의 점수는 37점 입니다.
불합격입니다.
3번 학생의 점수는 40점 입니다.
불합격입니다.

In [15]:
number=0
marks=[90,37,40,80]
for mark in marks:
    number=number+1
    if mark >=60:continue
    print('{0}번 학생의 점수는 {1}점 입니다.' .format(number,mark))
    print('불합격입니다.')

2번 학생의 점수는 37점 입니다.
불합격입니다.
3번 학생의 점수는 40점 입니다.
불합격입니다.

In [16]:
range(10)

range(0, 10)

In [17]:
len(range(6))

6

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
marks=[90,37,40,80]
for number in range(len(marks)):
    if marks[number] >=60:
        print('{0}번 학생의 점수는 {1}입니다.' .format(number+1,marks[number]))
        print('합격입니다.')

1번 학생의 점수는 90입니다.
합격입니다.
4번 학생의 점수는 80입니다.
합격입니다.