In [1]:
a=[1,2,3]
a

[1, 2, 3]

In [3]:
a=False

In [4]:
a

False

In [8]:
a=[1,2,3]

In [10]:
if[1,2,3]:
    print("참")
else:
        print("거짓")

참

In [11]:
if[]:
    print('True')
else:
    print('False')

False

In [12]:
a

[1, 2, 3]

In [14]:
bool('python')

True

In [16]:
bool('')

False

In [24]:
[a, b]=[4,5]

In [25]:
a

4

In [31]:
4,5

(4, 5)

In [34]:
[4, 5] =['a', 'b']

SyntaxError: can't assign to literal (<ipython-input-34-b0ad32cc2781>, line 1)

In [38]:
[a, b]=[4,5]

In [39]:
a

4

In [40]:
a=b=4

In [41]:
a

4

In [42]:
b

4

In [57]:
a = [1,2,3]

In [58]:
b = a

In [59]:
a[1] = 4

In [60]:
a

[1, 4, 3]

In [61]:
b

[1, 4, 3]

In [66]:
a=[1,2,3]
b = a[:]

In [67]:
a[1]=4

In [68]:
a

[1, 4, 3]

In [69]:
b

[1, 2, 3]

In [72]:
money=0

In [73]:
if money:
    print("택시타자")
else:
    print("걸어가자")

걸어가자

In [74]:
money=2000

In [75]:
if money>=3000:
    print('택시 각이고요')
else:
    print('걸어가는 각이고요')

걸어가는 각이고요

In [76]:
money=3000
card=1

In [77]:
if money>=4000 or card:
    print('true')
else:
    print('false')

true

In [78]:
pocket=['money', 'card']

In [81]:
if 'money' in pocket:
    print('GG')
else:
    print('SS')

GG

In [82]:
if 'money' in pocket:
    pass
else:
    print('SS')

In [84]:
treehit=0
while treehit < 10:
    treehit = treehit +1
    print("나무를 %d번 찍었습니다" % treehit)
    if treehit == 10: print("나무 넘어갑니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [88]:
test_list=['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [89]:
marks=[34, 40, 45, 60, 70]

In [91]:
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60: print("%d번 학생은 합격입니다" % number)
    else: print("%d번 학생은 불합격입니다" % number)

1번 학생은 불합격입니다
2번 학생은 불합격입니다
3번 학생은 불합격입니다
4번 학생은 합격입니다
5번 학생은 합격입니다

In [98]:
marks=[30, 40, 50, 60, 70, 80]

In [102]:
number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print("%d번 학생은 합격입니다" % number)

4번 학생은 합격입니다
5번 학생은 합격입니다
6번 학생은 합격입니다